/*variables*/
$toolOptiosHeight:21px;
$background-color:#434343;
$buttonHover:linear-gradient(to bottom, #373737 0%,#323232 100%);
$shadowMain:0 2px 5px rgba(0, 0, 0, 0.5);

/*mixins*/
@mixin darkInput(){
	background-color: #3d3d3d;
	border-color: #323232;
	border-radius: 2px;
	color: #a3a3a3;
	font-size: 1.1em;
	height: 23px;
	line-height: 1.1em;
	padding: 0 0.3em;
	&::-webkit-input-placeholder { color:#696969; }
	&::-moz-placeholder { color:#696969; } /* firefox 19+ */
}
@mixin button-well(){
	align-self: center;
	background-color: transparent;
	color: #9b9b9b;
	padding: 0;
	&.active, &:hover{
		background: $buttonHover;
		color:#A6A6A6;
	}
	&:active{
		border:1px solid #1D1D1D;
	}
}
@mixin chrome-heading(){
	background-color:$background-color;
	border-bottom: 1px solid #343434;
	border-top: 1px solid #575757;
}
@mixin bg-border($color, $width){
	background-image:linear-gradient(90deg, $color  $width, transparent  $width),linear-gradient(0deg, $color  $width, transparent  $width),linear-gradient(-90deg, $color  $width, transparent  $width),linear-gradient(180deg, $color  $width, transparent  $width);
}
@mixin bg-slashes($color){

	background-image:
		linear-gradient(45deg, transparent calc(50% - 1px), $color 1px, transparent calc(50%)),
		linear-gradient(45deg, transparent calc(50% - 1px), $color 1px, transparent calc(50%)),
		linear-gradient(45deg, transparent calc(50% - 1px), $color 1px, transparent calc(50%)),
		linear-gradient(45deg, transparent calc(50% - 1px), $color 1px, transparent calc(50%)),

		linear-gradient(0deg, $color 0, $color 100%),
		linear-gradient(0deg, $color 0, $color 100%),
		linear-gradient(0deg, $color 0, $color 100%),
		linear-gradient(0deg, $color 0, $color 100%)/*,

		linear-gradient(0deg, $color 0, $color 100%),
		linear-gradient(0deg, $color 0, $color 100%),
		linear-gradient(0deg, $color 0, $color 100%),
		linear-gradient(0deg, $color 0, $color 100%)*/
	;
	background-repeat:
		repeat-x,
		repeat-x,
		repeat-y,
		repeat-y,

		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat/*,

		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat*/
	;
	background-size:
		5px 5px,
		5px 5px,
		5px 5px,
		5px 5px,

		5px 5px,
		5px 5px,
		5px 5px,
		5px 5px,

		5px 5px/*,
		5px 5px,
		5px 5px,
		5px 5px*/
	;
	background-position:
		left top,
		left bottom,
		left top,
		right top,

		left top,
		right top,
		left bottom,
		right bottom/*,

		top center,
		bottom center,
		left center,
		right center*/
	;
}

/*imports*/
@import 'color-picker';

/*helpers*/
@import 'helpers';

/*bootstrap override*/
.container-fluid{
	width: 100%;
	padding-right:0.94em;
	padding-left: 0.94em;
}
.row{
	margin-right:0.94em;
	margin-left:0.94em;
}
div[class^="col-"]{
	padding-right:0.94em;
	padding-left:0.94em;
}

/*elements*/
/* Webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type=range],
	input[type=range],
	input[type=range] {
		-webkit-appearance: none;
		width: 100%;
		border-radius: 8px;
		height: 7px !important;
		margin-top:8px;
	}
}

@mixin slider-ball(){
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;
	width: 14px !important;
	height: 14px !important;
	border-radius: 7px;
	cursor: pointer;
}
input[type='range']::-webkit-slider-thumb,
input[type='range']::-webkit-slider-thumb,
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	@include slider-ball();
}
input[type=range]:focus {
	outline: none;
}
/* Mozilla */
@-moz-document url-prefix() {
	input[type=range] {
		width: 100%;
		background-color: transparent !important;
	}
	input[type=range]::-moz-range-track {
		border-radius: 8px;
		height: 7px !important;
		border: 1px solid #323232;
		background-color: #3d3d3d;
	}
	input[type=range]::-moz-range-thumb {
		@include slider-ball();
	}
}

/* Internet Explorer */
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
	background: transparent !important;
}
input[type="range"]::-ms-track {
    border-radius: 8px;
	height: 7px !important;
	border: 1px solid #323232;
	background-color: #3d3d3d;
}
input[type="range"]::-ms-thumb {
	@include slider-ball();
}

html,body,#mainWrapper{
	width:100%;
	height:100%;
	font-size:10px;
	color:#828282;
	overflow:hidden;
}
.misc{
	font-size: 1.6em;
}
.btn:focus {
	outline:0 !important;
}
.modal-backdrop{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	display:flex;
	justify-content: center;
	.modal-div{
		background-color:#fff;
		align-self:center;
		min-width:100px;
		min-height:100px;
	}
}
#upperHeader{
	display:flex;
	flex-direction: column;
	height: $toolOptiosHeight;
	#mainMenuRow{
		.flyoutMenuWrapper{
			display:flex;
			@include chrome-heading();
			height:21px;
			.flyout{
				//display:none;
			}
			&.active{
				.flyout-menu.active{
					.flyout{
						display:block;
					}
				}
			}
		}
	}
}


#toolOptions{
	height:37px;
	@include chrome-heading();
	padding:0.5em;
	.form-group {
		margin-right: 1em;
		label {
			margin-right: 0.5em;
		}
		input[type="text"] {
			@include darkInput();
			width: 50px;
		}
	}
}
#wrapper{
	display:flex;
	align-items:stretch;
	height:calc(100% - #{$toolOptiosHeight});
	flex-wrap:wrap;
	background-color:#232323;
	#mainTools{
		@include chrome-heading();
		width: 40px;
		margin:0.1em;
		display: flex;
    	flex-direction: column;
		align-content: stretch;
		> div {
		    //border-top: 2px solid #000;
		    margin: 0 0.3em;
		    padding: 0.3em 0;
		    width: calc(100% - 0.6em);
			&::before{
				content:"";
				background: linear-gradient(to bottom, #373737 0%,#323232 100%);
				display:block;
				height:2px;
				margin: 0.5em 0;
			}
			&:first-child{
				&::before{
					display:none;
				}
			}
		}
		#toolbox{
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			& > button{
				@include button-well();
				height: 30px;
				width: 30px;
			}
		}
		#colorPicker{
			.swatch {
			    border: none;
			    height: 27px;
			    padding-left: 27px;
				border-radius: 3px;
			    width: 0;
				cursor:default;
				background-color: rgba(0,0,0,0);
			}
			.tr-sq{
				width:27px;
				height:27px;
				margin:0 3px;
				border-radius: 3px;
			}
			> div {
				position: relative;
			}
		}
	}
	#workarea{
		flex-grow:1;
		display:flex;
		flex-flow: column nowrap;
		justify-content:center;
		align-content:center;
		background-color: #424242;
		overflow:auto;
		#rulers{
			align-self: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			#horizontalRuler {
				height: 10px;
				margin-left: 1em;
				width:calc(100% - 10px);
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQffCh8PISzYbWUPAAAAHWlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUGQuZQcAAAAoSURBVDhPY9TV1f3PQEXABKWpBkYNpAyYmJgMkAtBNhMLBnukMDAAADRKAtKH9cyEAAAAAElFTkSuQmCC);
				background-position:1px 0;
				overflow:hidden;
				#rulerHGuide{
					height:10px;
					background-color:rgba(255,255,255,0.5);
					width:1px;
				}
			}
			#verticalRuler{
				width:10px;
				height:calc(100% - 10px);
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAUCAYAAAC07qxWAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQffCh8PJQ3waLBVAAAAHWlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUGQuZQcAAAAySURBVDhPY9TV1f3PQARggtIEwahCvABvgJuYmEBZBBQig2EVPAOoEGuAI8cIBDAwAAB3twd1cMvEAQAAAABJRU5ErkJggg==);
				background-position:0 1px;
				overflow:hidden;
				#rulerVGuide{
					width:10px;
					background-color:rgba(255,255,255,0.5);
					height:1px;
				}
			}
		}
		#actions {
			align-self: center;
			border:1px solid #ccc;
			background-color:rgba(0,0,0,0.1);
			margin-top:1em;
			padding: 0.5em;
			text-align:center;
			button{
				margin-right:0.5em;
				&:last-child{
					margin-right:0;
				}
			}
			display:none;
		}
		#screen{
			align-self:center;
			position:relative;
			width:calc(100% - 10px);
			height:calc(100% - 10px);
			font-size:1.6rem;
			color:#000;
			div{
				&.work-layer{
					border:none;
					position:absolute;
					width:100%;
					height:100%;
					&.drawArea{
						cursor:crosshair;
					}
					.draw-area{
						background-image: linear-gradient(90deg, #000 50%, transparent 50%), linear-gradient(90deg, #000 50%, transparent 50%), linear-gradient(0deg, #000 50%, transparent 50%), linear-gradient(0deg, #000 50%, transparent 50%);
						background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
						background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
						background-position: left top, 10px bottom, left top, right 10px;
						animation: border-dance 1s infinite steps(2);

						visibility:visible;
						opacity:0.5;
						position:absolute;
						&:hover{
							cursor:move;
						}
					}
					&.drawBox{
						cursor:crosshair;
					}
					.draw-box{
						position:absolute;
					}
				}
				.element{
					//cursor: default;
				}
				.selected{
					&::before{
						content:"";
						position: absolute;
						width:100%;
						height:100%;
						@include bg-slashes(#00f);
					}
					&.n, &.s{
						cursor: ns-resize;
					}
					&.e, &.w{
						cursor: ew-resize;
					}
					&.nw, &.se{
						cursor: nwse-resize;
					}
					&.ne, &.sw{
						cursor:nesw-resize;
					}
				}
				[ob-type="element"]:hover::before{
						content:"";
						position: absolute;
						width:100%;
						height:100%;
						@include bg-slashes(#0f0);
				}
				[ob-type="element"]:active::before{
					content:"";
					position: absolute;
					width:100%;
					height:100%;
					@include bg-slashes(#00f);
				}
			}
		}
	}
	#sidebar{
		display: flex;
		flex-direction: column;
		width: 250px;
		height:100%;
		background-color:#232323;
		color:#fefefe;
		flex-wrap: nowrap;
		align-content: stretch;
    	align-items: stretch;
		.chrome-heading{
			@include chrome-heading();
		}
		.flex-row{
			display:flex;
			> div{
				padding: 0 0.5em;
				&:first-child{
					padding:0 0.5em 0 1em;
				}
				&:last-child{
					padding:0 1em 0 0.5em;
				}
			}
		}
		.btn:not(.btn-link) {
		    background-color: transparent;
		    border-color: #1c1c1c;
		    color: #9b9b9b;
			padding: 0.3rem 0.7rem;
		    min-width: 29px;
			.fa {
			    font-size: 1.4rem;
			    line-height: 1.4rem;
			}
			&.active{
				background-color: #1c1c1c;
			    color: #e9e9e9;
			    text-shadow: 0px 0px 6px #777;
				&:hover, &:focus{
					background-color: #1c1c1c;
				    color: #fff;
				    text-shadow: 0px 0px 6px #fff;
				}
			}
			&:hover, &:focus{
				color:#e9e9e9;
			}
		}
		#elementProperties{
			color:#828282;
			height: 65%;
		}
		.element-property{
			margin:0.5em 0;
			text-transform: capitalize;
			&:after {
				visibility: hidden;
				display: block;
				font-size: 0;
				content: " ";
				clear: both;
				height: 0;
			}
		}
		h4{
			text-transform: capitalize;
			font-size: 1.1em;
			font-weight: 700;
			color: #bbb;
			margin: 0.6em 0.8em 0.8em 0.5em;
			background-color: #1c1c1c;
			padding: 0.2em 0.5em;
			border-radius: 3px;
		}
		label{
			line-height: 2.1em;
			white-space: nowrap;
		}
		input:not([type="checkbox"]),textarea,select{
			@include darkInput();
		}
		textarea{
			height:50px;
		}
		.toolset{
			border:1px solid #202020;
			flex-grow:1;
			display: flex;
			flex-direction: column;
			height: 35%;
			hr{
				border-top: 2px solid #1c1c1c;
    			margin: 0.5em 0.8em 0.8em;
			}
			checkbox{
				.fa{
					color:green;
				}
			}
		}
		.btn-link{
			color:#B6B6B6;
		}
		&.collapsed{
			width:62px;
			.options-panel{
				visibility:hidden;
			}
		}
		.options-panel{
			overflow:hidden;
		}
		h3 {
			@include chrome-heading();
			color:#e3e3e3;
			display: block;
			font-size: 1.1em;
			font-weight: 700;
			padding: 0.3rem 0.5rem;
			margin: 0;
			flex-grow:0;
			min-height: 21px;
			text-transform: uppercase;
		}
		.tree-list{
			flex-grow:1;
			overflow-y:auto;
			display:block;
			checkbox {
			    background-color: rgba(0, 0, 0, 0.5);
			    height: 18px;
			    line-height: 18px;
			    padding: 0 4px;
			    width: 18px;
				&:hover{
					background-color: rgba(0,0,0,0.75);
					.fa{
						color:#bbb;
					}
				}
				.fa{
					color:#999;
				}
			}
			ul{

			}
			li{
				border-top:1px solid #232323;
			}
			> li{
				background-color:#393939;
			}
		}
		.chrome-menu{
			@include chrome-heading();
			flex-grow:0;
		}
.btn-file {
    position: relative;
    overflow: hidden;
    font-size: 1.1rem;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
	}
}
.ficon{
	width:1em;
}
.separator-v{
	width:1px;
	background:linear-gradient(to bottom, #373737 0%, #323232 100%);
	display:inline-block;
	height: 100%;
	min-height: 25px;
    vertical-align: middle;
}

/*flyout menu*/
.flyout-menu{
	width:36px;
	padding: 0.1em;
	.menu-item{
		@include button-well();
		font-size:1.1em;
		padding:0 0.5em;
		&:active{
			background-color: #c00;
		}
	}
	.fa-bars{
		font-size: 1.7em;
		line-height: 1em;
		cursor:pointer;
	}
	.flyout{
		position: absolute;
		box-shadow: $shadowMain;
		min-width: 200px;
		z-index: 1;
		background-color: $background-color;
		hr{
			margin: 0 5px;
			border-color:#333;
		}
		button {
		    border: none;
		    display: block;
		    font-size: 1.2em;
		    text-align: left;
		    width: 100%;
			padding: 0.5em;
			background-color:$background-color;
			text-transform: capitalize;
			&:hover{
				background:$buttonHover;
			}
			&[disabled="disabled"],
			&[disabled="disabled"]:hover{
				background-color: #333;
				color: #555;
			}
		}
	}
}

/*save as*/
.document-names{
	border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 200px;
    overflow-y: auto;
	button {
		border: none;
		display: block;
		font-size: 1.2em;
		text-align: left;
		width: 100%;
		padding: 0.5em;
		background: transparent;
		&:hover{
			background:#7777FF;
			color:#fff;
		}
	}
}

/*treecontrol*/

.tree-list{
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:1.1em;
	display: flex;
    flex-direction: column-reverse;
	li{
		div{
			padding: 0.5rem 0 0.5rem 0.5rem;
			&.selected{
				background-color:#5E6575;
			}
		}
		&.minimized{
			ul{
				display:none;
			}
		}
		&.locked, &.element-hidden{
			ul{
				opacity:0.5;
			}
		}
		ul{
			list-style-type:none;
			padding-left: 0;
			> li > div{
				background-color: #2e2e2e;
				.toggle{
					margin-left: 1.5em;
				}
			}
		}
	}
}

@keyframes border-dance {
	0% {
		background-position: 0px top, 10px bottom, left 0px, right 10px;
	}
	50% {
		background-position: 10px top, 0px bottom, left 10px, right 0px;
	}
}
checkbox{
	display:inline-block;
	cursor: pointer;
	padding: 0 0.5em;
    border-radius: 3px;
	&.screen-overflow{
		.fa{
			margin-right:0.5em
			;
		}
	}
	&:hover{
		background-color: rgba(0,0,0,0.4);
	}
	span{
		display: inline-block;
		.fa{
			display: inline-block;
			min-width: 1em;
		}
		label{
			cursor: pointer;
			margin: 0;
		}
	}
}
#propertiesBlocker{
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*preview-screen*/
.preview-wrapper{
	width:100%;
	height:100%;
	background-color: #1c1c1c;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.close-preview{
		position: absolute;
	    right: 5px;
	    top: 5px;
	    display: block;
	    color: #fff;
	    opacity: 0.5;
		&:hover{
			opacity:0.75;
		}
	}
	.preview{
		display: block;
		position:relative;
		box-shadow: 0 5px 20px #000;
	}
}
