<style type="text/css" inline-styles ng-model="data.tree.root"></style>
<div id="upperHeader" x-listen-keystrokes>
	<div id="mainMenuRow" flyout-menu="data.menus"></div>
	<!--<div id="toolOptions"></div>-->
</div>
<div id="wrapper">
	<div id="mainTools">
		<div id="toolbox" x-toolbox="toolbar" x-data="data"></div>
		<div id="colorPicker">

			<div x-size="small" x-which="background-color" color-picker title="{{data.lang[data.lang.act].setBackgroundColor}}" class="margin-bottom-sm"></div>
			<div x-size="small" x-which="border-color" color-picker title="{{data.lang[data.lang.act].setBorderColor}}" class="margin-bottom-sm"></div>
			<!---->
			<div x-which="border-width" input-type="text" input-class="input-xs w-full" title="" class="input-xs w-full" drawstyle-selection-modifier></div>
		</div>
	</div>
	<div id="workarea" x-track-mouse-position x-track-mouse-events>
		<div id="rulers" style="width:calc({{data.screen.width}} + 10px);height:calc({{data.screen.height}} + 10px)">
			<div id="horizontalRuler"><div id="rulerHGuide" style="margin-left:{{data.screen.mouse.x}}px"></div></div>
			<div id="verticalRuler"><div id="rulerVGuide" style="margin-top:{{data.screen.mouse.y}}px"></div></div>
			<div id="screen" class="tr-sq">
				<div id="guides" class="work-layer"></div>
				<div id="canvas" class="work-layer"></div>
				<div class="{{child.type}} {{child.cursorClass}} {{{true: (data.flags.elementState|statesToClass), false: ''}[child.selected]}}" ng-class="{selected:child.selected}" id="screen_{{child.id}}" tree="child in data.tree.root.children at none" ng-style="child.styles.normal" ob-id="{{child.id}}" ob-type="{{child.type}}">{{child.text}}</div>
			</div>
		</div>
		<div id="actions" style="width:calc({{data.screen.width}} + 10px);" tool-actions></div>
	</div>
	<div id="sidebar" class="{{data.config.sidebarClass}}">
		<div id="elementProperties" class="toolset">
			<h3>{{data.lang[data.lang.act].properties}}</h3>
			<div class="scroll-y" ng-hide="data.selection.active.typeNum==2">
				<div class="element-property">
					<div class="col-sm-12">
						<input type="checkbox" class="margin-no" ng-model="data.screen.overflow" /> <label>{{data.lang[data.lang.act].canvasOverflow}}</label>
					</div>
				</div>
				<div class="element-property">
					<div class="col-sm-2">
						<label>{{data.lang[data.lang.act].width}}</label>
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control w-full" unitless-value="data.screen.wPx" ng-model="data.screen.width" placeholder="XXpx" x-key-increment />
					</div>
					<div class="col-sm-2">
						<label></label>
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control w-full" unitless-value="data.screen.hPx"ng-model="data.screen.height" placeholder="XXpx" x-key-increment />
					</div>
				</div>
			</div>
			<div class="scroll-y" ng-show="data.selection.active.typeNum==2">
				<div class="element-property">
					<div class="col-sm-12">
						<select class="form-control w-full" ng-model="data.flags.elementState">
							<option value="normal">
								{{data.lang[data.lang.act].baseStyle}}
							</option>
							<option value=":hover">
								{{data.lang[data.lang.act].hover}}
							</option>
							<option value=":active">
								{{data.lang[data.lang.act].active}}
							</option>
						</select>
					</div>
				</div>
				<h4>{{data.lang[data.lang.act].layout}}</h4>
				<div class="element-property">
					<div class="col-sm-2">
						<label>{{data.lang[data.lang.act].top}}</label>
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control w-full" ng-model="data.selection.active.styles[data.flags.elementState]['top']" placeholder="XXpx" ng-property='top' area-key-increment />
					</div>
					<div class="col-sm-2">
						<label>{{data.lang[data.lang.act].left}}</label>
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control w-full" ng-model="data.selection.active.styles[data.flags.elementState]['left']" placeholder="XXpx" ng-property='left' area-key-increment />
					</div>
				</div>
				<div class="element-property">
					<div class="col-sm-2">
						<label>{{data.lang[data.lang.act].width}}</label>
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control w-full" ng-model="data.selection.active.styles[data.flags.elementState]['width']" placeholder="XXpx" ng-property='width' area-key-increment />
					</div>
					<div class="col-sm-2">
						<label>{{data.lang[data.lang.act].height}}</label>
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control w-full" ng-model="data.selection.active.styles[data.flags.elementState]['height']" placeholder="XXpx" ng-property='height' area-key-increment />
					</div>
				</div>
				<hr>
				<div class="element-property">
					<div class="col-sm-4">
						<label>{{data.lang[data.lang.act].padding}}</label>
					</div>
					<div class="col-sm-8">
						<input type="text" class="form-control w-full" ng-model="data.selection.active.styles[data.flags.elementState]['padding']" placeholder="0px" x-key-increment />
					</div>
				</div>
				<div class="element-property">
					<div class="col-sm-4">
						<label>{{data.lang[data.lang.act].margin}}</label>
					</div>
					<div class="col-sm-8">
						<input type="text" class="form-control w-full" ng-model="data.selection.active.styles[data.flags.elementState]['margin']" placeholder="0px" x-key-increment />
					</div>
				</div>
				<div class="element-property">
					<div class="col-sm-4">
						<label>{{data.lang[data.lang.act].overflow}}</label>
					</div>
					<div class="col-sm-8">
						<select class="form-control w-full" ng-model="data.selection.active.styles[data.flags.elementState]['overflow']">
							<option value="hidden">
								{{data.lang[data.lang.act].hidden}}
							</option>
							<option value="scroll">
								{{data.lang[data.lang.act].scroll}}
							</option>
							<option value="auto">
								{{data.lang[data.lang.act].auto}}
							</option>
							<option value="initial">
								{{data.lang[data.lang.act].initial}}
							</option>
							<option value="inherit">
								{{data.lang[data.lang.act].inherit}}
							</option>
						</select>
					</div>
				</div>
				<h4>{{data.lang[data.lang.act].text}}</h4>
				<div class="element-property">
					<div class="col-sm-12">
						<textarea class="form-control w-full" ng-model="data.selection.active.text" placeholder="{{data.lang[data.lang.act].textElementPlaceHolder}}"></textarea>
					</div>
				</div>
				<hr />
				<div class="element-property">
					<div class="col-sm-4">
						<label>{{data.lang[data.lang.act].textAlign}}</label>
					</div>
					<div class="col-sm-8">
						<div class="btn-group" role="group">
							<button type="button" class="btn {{{true: 'active', false: ''}[data.selection.active.styles[data.flags.elementState]['text-align']=='left']}}" ng-click="data.selection.active.styles[data.flags.elementState]['text-align']='left'" title="{{data.lang[data.lang.act].align}} {{data.lang[data.lang.act].left}}"><i class="fa fa-align-left"></i></button>
							<button type="button" class="btn {{{true: 'active', false: ''}[data.selection.active.styles[data.flags.elementState]['text-align']=='center']}}" ng-click="data.selection.active.styles[data.flags.elementState]['text-align']='center'" title="{{data.lang[data.lang.act].align}} {{data.lang[data.lang.act].center}}"><i class="fa fa-align-center"></i></button>
							<button type="button" class="btn {{{true: 'active', false: ''}[data.selection.active.styles[data.flags.elementState]['text-align']=='right']}}" ng-click="data.selection.active.styles[data.flags.elementState]['text-align']='right'" title="{{data.lang[data.lang.act].align}} {{data.lang[data.lang.act].right}}"><i class="fa fa-align-right"></i></button>
							<button type="button" class="btn {{{true: 'active', false: ''}[data.selection.active.styles[data.flags.elementState]['text-align']=='justify']}}" ng-click="data.selection.active.styles[data.flags.elementState]['text-align']='justify'" title="{{data.lang[data.lang.act].align}} {{data.lang[data.lang.act].justify}}"><i class="fa fa-align-justify"></i></button>
						</div>
					</div>
				</div>
				<div class="element-property">
					<div class="col-sm-4">
						<label>{{data.lang[data.lang.act].textStyle}}</label>
					</div>
					<div class="col-sm-8">
						<button type="button" class="btn {{{true: 'active', false: ''}[data.selection.active.styles[data.flags.elementState]['font-weight']=='bold']}}" ng-click="data.selection.active.styles[data.flags.elementState]['font-weight']=({true:'normal',false:'bold'}[data.selection.active.styles[data.flags.elementState]['font-weight']=='bold'])" title="{{data.lang[data.lang.act].bold}}"><i class="fa fa-bold"></i></button>
						<button type="button" class="btn {{{true: 'active', false: ''}[data.selection.active.styles[data.flags.elementState]['font-style']=='italic']}}" ng-click="data.selection.active.styles[data.flags.elementState]['font-style']=({true:'normal',false:'italic'}[data.selection.active.styles[data.flags.elementState]['font-style']=='italic'])" title="{{data.lang[data.lang.act].italic}}"><i class="fa fa-italic"></i></button>
						<div class="btn-group" role="group">
							<button type="button" class="btn {{{true: 'active', false: ''}[data.selection.active.styles[data.flags.elementState]['text-decoration']=='underline']}}" ng-click="data.selection.active.styles[data.flags.elementState]['text-decoration']=({true:'normal',false:'underline'}[data.selection.active.styles[data.flags.elementState]['text-decoration']=='underline'])" title="{{data.lang[data.lang.act].underline}}"><i class="fa fa-underline"></i></button>
							<button type="button" class="btn {{{true: 'active', false: ''}[data.selection.active.styles[data.flags.elementState]['text-decoration']=='line-through']}}" ng-click="data.selection.active.styles[data.flags.elementState]['text-decoration']=({true:'normal',false:'line-through'}[data.selection.active.styles[data.flags.elementState]['text-decoration']=='line-through'])" title="{{data.lang[data.lang.act].strikeThrough}}"><i class="fa fa-strikethrough"></i></button>
						</div>
					</div>
				</div>
				<div class="element-property">
					<div class="col-sm-4">
						<label>{{data.lang[data.lang.act].fontFamily}}</label>
					</div>
					<div class="col-sm-8">
						<select class="form-control w-full" ng-model="data.selection.active.styles[data.flags.elementState]['font-family']">
							<optgroup label="Sans Serif">
								<option value='Arial, Helvetica, sans-serif' style="font-family:Arial, Helvetica, sans-serif">Arial, Helvetica, sans-serif</option>
								<option value='"Arial Black", Gadget, sans-serif' style='font-family:"Arial Black", Gadget, sans-serif'>Arial Black, Gadget, sans-serif</option>
								<option value='"Comic Sans MS", cursive, sans-serif' style='font-family:"Comic Sans MS", cursive, sans-serif'>Comic Sans MS, cursive, sans-serif</option>
								<option value="Impact, Charcoal, sans-serif" style='font-family:Impact, Charcoal, sans-serif'>Impact, Charcoal, sans-serif</option>
								<option value='"Lucida Sans Unicode", "Lucida Grande", sans-serif' style='font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif'>Lucida Sans Unicode, Lucida Grande, sans-serif</option>
								<option value='Tahoma, Geneva, sans-serif' style='font-family:Tahoma, Geneva, sans-serif'>Tahoma, Geneva, sans-serif</option>
								<option value='"Trebuchet MS", Helvetica, sans-serif' style='font-family:"Trebuchet MS", Helvetica, sans-serif'>"Trebuchet MS", Helvetica, sans-serif</option>
								<option value='Verdana, Geneva, sans-serif' style='font-family:Verdana, Geneva, sans-serif'>Verdana, Geneva, sans-serif</option>
							</optgroup>
							<optgroup label="Serif">
								<option value='Georgia, serif' style='font-family:Georgia, serif'>Georgia, serif</option>
								<option value='"Palatino Linotype", "Book Antiqua", Palatino, serif' style='font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif'>Palatino Linotype, Book Antiqua, Palatino, serif</option>
								<option value='"Times New Roman", Times, serif' style='font-family:"Times New Roman", Times, serif'>Times New Roman, Times, serif</option>
							</optgroup>
							<optgroup label="Monospaced">
								<option value='"Courier New", Courier, monospace' style='font-family:"Courier New", Courier, monospace'>Courier New, Courier, monospace</option>
								<option value='"Lucida Console", Monaco, monospace' style='font-family:"Lucida Console", Monaco, monospace'>Lucida Console, Monaco, monospace</option>
							</optgroup>
						</select>
					</div>
				</div>
				<div class="element-property">
					<div class="col-sm-4">
						<label>{{data.lang[data.lang.act].fontSize}}</label>
					</div>
					<div class="col-sm-8">
						<input type="text" class="form-control w-full" ng-model="data.selection.active.styles[data.flags.elementState]['font-size']" placeholder="16px" x-key-increment />
					</div>
				</div>
				<div class="element-property">
					<div class="col-sm-4">
						<label>{{data.lang[data.lang.act].fontColor}}</label>
					</div>
					<div class="col-sm-8">
						<input  type="text" class="form-control w-full" ng-model="data.selection.active.styles[data.flags.elementState]['color']" placeholder="black" />
					</div>
				</div>
				<div class="element-property">
					<div class="col-sm-4">
						<label>{{data.lang[data.lang.act].textWrap}}</label>
					</div>
					<div class="col-sm-8">
						<select class="form-control w-full"  ng-model="data.selection.active.styles[data.flags.elementState]['white-space']">
							<option value="pre-wrap">{{data.lang[data.lang.act].normal}}</option>
							<option value="nowrap">{{data.lang[data.lang.act].noWrap}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="toolset">
			<h3>{{data.lang[data.lang.act].layers}}</h3>
			<ul class="tree-list">
				<li tree="child in data.tree.root.children at ul" ng-class="{minimized:child.minimized}">
					<div ng-class="{selected:child.selected}" ng-click="data.fn.tree.toggleSelected({child:child,data:data})">
						<button class="btn btn-link btn-xs toggle" ng-click="data.fn.tree.toggleMinimized(child)" ng-switch on="child.minimized">
							<span ng-switch-when="true">
								<i class="fa fa-caret-right"></i>
							</span>
							<span ng-switch-default>
								<i class="fa fa-caret-down"></i>
							</span>
						</button>
						{{child.id | nicename}}
					</div>
					<ul ng-class="{pregnant:child.children.length}"></ul>
				</li>
			</ul>
			<div class="text-right chrome-menu">
				<button class="btn btn-xs btn-link" ng-click="data.fn.tree.addChild(data.tree.root,data)" title="new layer"><i class="fa fa-file-o"></i></button>
				<button class="btn btn-xs btn-link" ng-click="data.fn.tree.removeSelected(data.tree.root,data)" title="Remove Selected Layer"><i class="fa fa-trash-o"></i></button>
			</div>
		</div>
	</div>
</div>
<div id="newDocumentModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="newDocumentForm" novalidate ng-submit="createNew()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{data.lang[data.lang.act].createNewDocument}}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="docName">{{data.lang[data.lang.act].name}}:</label>
						<input class="form-control" type="text" ng-model="createNew.newName" />
					</div>
					<div class="form-group">
						<label for="screenWidth">{{data.lang[data.lang.act].width}}:</label>
						<input class="form-control" type="text" ng-model="createNew.width" />
					</div>
					<div class="form-group">
						<label for="screenHeight">{{data.lang[data.lang.act].height}}:</label>
						<input class="form-control" type="text" ng-model="createNew.height" />
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger pull-left" type="button" data-dismiss="modal">{{data.lang[data.lang.act].cancel}}</button>
					<button class="btn btn-success" type="submit">{{data.lang[data.lang.act].create}}</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="saveDocumentAsModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{data.lang[data.lang.act].saveDocumentAs}}</h4>
			</div>
			<form name="saveDocumentAsForm" novalidate ng-submit="saveDocumentAsForm.$valid && documents.saveAs()">
				<div class="modal-body">
					<div class="document-names">
						<button type="button" ng-repeat="document in documents" ng-click="documents.setDocumentName(document.name)">{{document.name}}</button>
					</div>
					<div class="form-group">
						<label for="docName">{{data.lang[data.lang.act].name}}:</label>
						<input class="form-control" id="saveAsName" type="text" ng-value="data.tree.root.name" />
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger pull-left" type="button" data-dismiss="modal">{{data.lang[data.lang.act].cancel}}</button>
					<button class="btn btn-success pull-right" type="submit">{{data.lang[data.lang.act].save}}</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="openDocumentModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{data.lang[data.lang.act].openDocument}}</h4>
			</div>
			<form name="openDocumentForm" novalidate ng-submit="documents.open()">
				<div class="modal-body">
					<div class="document-names">
						<button class="btn btn-danger pull-left" type="button" data-dismiss="modal">{{data.lang[data.lang.act].cancel}}</button>
						<button type="button" ng-repeat="document in documents" ng-click="documents.documentToOpen = document.id">{{document.name}}</button>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger pull-left" type="button" data-dismiss="modal">{{data.lang[data.lang.act].cancel}}</button>
					<button class="btn btn-success pull-right" type="submit">{{data.lang[data.lang.act].open}}</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
