<div id="upperHeader" x-listen-keystrokes>
	<div id="mainMenuRow" flyout-menu="data.menus"></div>
	<div id="toolOptions"></div>
</div>
<div id="wrapper">
	<div id="mainTools">
		<div id="toolbox" x-toolbox="toolbar" x-data="data"></div>
		<div id="colorPicker">
			<div x-size="small" x-which="background-color" color-picker title="{{data.lang[data.lang.act].setBackgroundColor}}" class="margin-bottom-sm"></div>
			<div x-size="small" x-which="border-color" color-picker title="{{data.lang[data.lang.act].setBorderColor}}" class="margin-bottom-sm"></div>
			<div x-which="border-width" input-type="text" input-class="input-xs w-full" title="{{data.lang[data.lang.act].setBorderWidth}}" class="input-xs w-full" drawstyle-selection-modifier></div>
		</div>
	</div>
	<div id="workarea" x-track-mouse-position x-track-mouse-events>
		<div id="rulers" style="width:calc({{data.screen.width}} + 10px);height:calc({{data.screen.height}} + 10px)">
			<div id="horizontalRuler"><div id="rulerHGuide" style="margin-left:{{data.screen.mouse.x}}px"></div></div>
			<div id="verticalRuler"><div id="rulerVGuide" style="margin-top:{{data.screen.mouse.y}}px"></div></div>
			<div id="screen" class="tr-sq">
				<div id="guides" class="work-layer"></div>
				<div id="canvas" class="work-layer"></div>
				<div ng-class="{selected:child.selected}" id="screen_{{child.id}}" tree="child in data.tree.root.children at none" ng-style="child.style" ob-id="{{child.id}}" ob-type="{{child.type}}"></div>
			</div>
		</div>
		<div id="actions" style="width:calc({{data.screen.width}} + 10px);" tool-actions></div>
	</div>
	<div id="sidebar" class="{{data.config.sidebarClass}}">
		<!-- <div id="sidebarHamburger"><button class="btn btn-default btn-sm" x-ng-click="fn.toggleSidebar()"><i class="fa fa-bars"></i></button></div> -->
		<div class="toolset">
			<h3>{{data.lang[data.lang.act].layers}}</h3>
			<ul class="tree-list">
				<li tree="child in data.tree.root.children at ul" ng-class="{minimized:child.minimized}">
					<div ng-class="{selected:child.selected}" ng-click="data.fn.tree.toggleSelected({child:child,data:data})">
						<button class="btn btn-link btn-xs toggle" ng-click="data.fn.tree.toggleMinimized(child)" ng-switch on="child.minimized">
							<span ng-switch-when="true">
								<i class="fa fa-caret-right"></i>
							</span>
							<span ng-switch-default>
								<i class="fa fa-caret-down"></i>
							</span>
						</button>
						{{child.id | nicename}}
					</div>
					<ul ng-class="{pregnant:child.children.length}"></ul>
				</li>
			</ul>
			<div class="text-right chrome-menu">
				<button class="btn btn-xs btn-link" ng-click="data.fn.tree.addChild(data.tree.root,data)" title="new layer"><i class="fa fa-file-o"></i></button>
				<button class="btn btn-xs btn-link" ng-click="data.fn.tree.removeSelected(data.tree.root,data)" title="Remove Selected Layer"><i class="fa fa-trash-o"></i></button>
			</div>
		</div>
	</div>
</div>
<div id="newDocumentModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="newDocumentForm" novalidate ng-submit="createNew()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{data.lang[data.lang.act].createNewDocument}}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="docName">{{data.lang[data.lang.act].name}}:</label>
						<input class="form-control" type="text" ng-model="createNew.newName" />
					</div>
					<div class="form-group">
						<label for="screenWidth">{{data.lang[data.lang.act].width}}:</label>
						<input class="form-control" type="text" ng-model="createNew.width" />
					</div>
					<div class="form-group">
						<label for="screenHeight">{{data.lang[data.lang.act].height}}:</label>
						<input class="form-control" type="text" ng-model="createNew.height" />
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" type="submit">{{data.lang[data.lang.act].create}}</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="saveDocumentAsModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{data.lang[data.lang.act].saveDocumentAs}}</h4>
			</div>
			<form name="saveDocumentAsForm" novalidate ng-submit="saveDocumentAsForm.$valid && documents.saveAs()">
				<div class="modal-body">
					<div class="document-names">
						<button type="button" ng-repeat="document in documents" ng-click="documents.setDocumentName(document.name)">{{document.name}}</button>
					</div>
					<div class="form-group">
						<label for="docName">{{data.lang[data.lang.act].name}}:</label>
						<input class="form-control" id="saveAsName" type="text" ng-value="data.tree.root.name" />
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger pull-left" type="button" data-dismiss="modal">{{data.lang[data.lang.act].cancel}}</button>
					<button class="btn btn-success pull-right" type="submit">{{data.lang[data.lang.act].save}}</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="openDocumentModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{data.lang[data.lang.act].openDocument}}</h4>
			</div>
			<form name="openDocumentForm" novalidate ng-submit="documents.open()">
				<div class="modal-body">
					<div class="document-names">
						<button type="button" ng-repeat="document in documents" ng-click="documents.documentToOpen = document.id">{{document.name}}</button>
					</div>
					<!--<div class="form-group">
						<label for="docName">{{data.lang[data.lang.act].name}}:</label>
						<input class="form-control" type="text" ng-model="data.tree.root.name" />
					</div>-->
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger pull-left" type="button" data-dismiss="modal">{{data.lang[data.lang.act].cancel}}</button>
					<button class="btn btn-success pull-right" type="submit">{{data.lang[data.lang.act].open}}</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
